.dailyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.title {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding: 10px
}

.coinsText {
    padding: 10px;
    text-align: center;
}