.focusUp {
    text-align: center;
}

.homeButton {
    position: absolute;
    right: 75vw;
    top: 50vh;
}

.shopButton {
    position: absolute;
    left: 75vw;
    top: 50vh;
}

.completionCardBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.completionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 600px;
    z-index: 2;
    height: 400px;
    padding: 40px;
    text-align: center;
    border-radius: 10%;
    background-color: rgb(33, 33, 33);
}

.title {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 8px;
}

.cancelBtn:hover {
    cursor: pointer;
}