.box {
    border: 2px white solid;
    padding: 15px 40px;
    text-align: center;
    background-color: #234E52;
    opacity: 10%;
}

.horizontalFlexContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.animatedBox {
    border: 2px white solid;
    padding: 15px 40px;
    text-align: center;
    background-color: #234E52;
    opacity: 100%;
    animation-name: color-change;
    animation-duration: 3s;
}

@keyframes color-change {
    0% {background-color: #234E52;}
    15% {background-color: #38B2AC;}
    30% {background-color: #234E52;}
    45% {background-color: #38B2AC;}
    60% {background-color: #234E52;}
    75% {background-color: #38B2AC;}
    100% {background-color: #234E52;}
}

.selectedBox {
    background-color: #234E52;
    opacity: 100%;
}

.homeButton {
    position: absolute;
    right: 75vw;
    top: 50vh;
}

.shopButton {
    position: absolute;
    left: 75vw;
    top: 50vh;
}