.icon {
    height: 100px;
    width: 100px;
    box-shadow: 4px 4px solid black;
    border-radius: 10%;
    align-self: center;
    justify-self: center;
}

.icon:hover {
    opacity: 80%;
}

.iconContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

section {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}